*{margin:0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
.header{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-item a:hover{
    border:1px solid;
    border-radius: 90px;
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 12px 35px;
    margin: 0 5px;
    

    
    
    text-decoration: wavy;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
    text-align: center;
}


.container{
    width: 80%;
    margin:50px auto;
    padding: 40px 60px;
    
}
.objectives{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}